name: Build wheels

on:
  workflow_dispatch:

jobs:
  build:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, ubuntu-24.04-arm, macos-latest, windows-latest]
        python-version: ["3.14"]
    steps:
      - uses: actions/checkout@v5
      - uses: pypa/cibuildwheel@v3.3.1
        env:
          # MACOSX_DEPLOYMENT_TARGET: "11.0"
          # CIBW_ENVIRONMENT: "PIP_PRE=1"
          CIBW_BUILD_VERBOSITY: 2
          # build ABI3 wheels with Python 3.11
          CIBW_SKIP: "cp38* cp39* cp310* cp312* cp313* cp314-* *musllinux* *i686 *ppc64le *s390x"
          CIBW_ARCHS_LINUX: auto
          CIBW_ARCHS_MACOS: x86_64 arm64
          CIBW_ARCHS_WINDOWS: AMD64 ARM64 x86
          CIBW_TEST_REQUIRES: numpy
          CIBW_TEST_COMMAND: python -c "import ptufile;from ptufile import _ptufile;print(ptufile.__version__)"
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install packages
        run: |
          python -m pip install -U --find-links=wheelhouse ptufile abi3audit
      - name: Audit ABI3 wheels
        run: |
          abi3audit --strict --report wheelhouse/*abi3*.whl
      - name: Test ABI3 wheels
        run: |
          cd ..
          python -c "import ptufile;from ptufile import _ptufile;print(ptufile.__version__)"
      - uses: actions/upload-artifact@v6
        with:
          path: ./wheelhouse/*.whl
          name: wheels-${{ matrix.os }}
